<ul class="nav navbar-dark justify-content-center pt-3 pb-3 background">
    <div class="row">
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary bg-light" [routerLink]="['/book']">Book</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary bg-light" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary bg-light" [routerLink]="['/profile']">Profile</a>
        </li>
    </div>
</ul>

