<ul class="nav justify-content-center m-3">
    <div class="row">
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary " [routerLink]="['/book']">Book</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item col">
            <a class="nav-link btn btn-outline-primary" [routerLink]="['/form']">Profile</a>
        </li>
    </div>
</ul>